*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{

    background:#0b0f18;

    color:white;

    overflow-x:hidden;

}

/* Sidebar */

.sidebar{

    position:fixed;

    left:0;

    top:0;

    width:240px;

    height:100vh;

    background:#101624;

    border-right:1px solid rgba(255,255,255,.08);

}

.logo{

    height:90px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

}

.logo h1{

    width:55px;

    height:55px;

    border-radius:50%;

    background:#6b5cff;

    display:flex;

    justify-content:center;

    align-items:center;

}

.logo span{

    font-size:22px;

    font-weight:bold;

}

nav{

    margin-top:25px;

    display:flex;

    flex-direction:column;

}

nav a{

    color:#ddd;

    text-decoration:none;

    padding:16px 28px;

    transition:.25s;

}

nav a:hover{

    background:#1d2740;

    transform:translateX(5px);

}

.active{

    background:#26365e;

    border-left:4px solid #7b6dff;

}

/* Main */

.main{

    margin-left:240px;

    padding:45px;

}

header h1{

    font-size:44px;

}

header p{

    color:#aaa;

    margin-top:10px;

}

/* Grid */

.games-grid{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));

    gap:35px;

    margin-top:45px;

}

/* Cards */

.game-card{

    background:#151e30;

    border-radius:22px;

    padding:30px;

    position:relative;

    overflow:hidden;

    transition:.35s;

    min-height:240px;

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

}

.game-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(

        135deg,

        rgba(123,109,255,.35),

        transparent

    );

}

.game-card>*{

    position:relative;

    z-index:2;

}

.game-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(123,109,255,.35);

}

/* Featured */

.featured{

    background:

    linear-gradient(

        135deg,

        #5146ff,

        #6d87ff,

        #00bfff

    );

}

.featured::before{

    background:rgba(0,0,0,.25);

}

/* Button */

.play-btn,

button{

    margin-top:20px;

    width:180px;

    height:52px;

    border:none;

    border-radius:14px;

    background:white;

    color:#111;

    font-weight:bold;

    cursor:pointer;

    text-decoration:none;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.25s;

}

.play-btn:hover{

    transform:scale(1.05);

    box-shadow:0 0 25px white;

}

button:disabled{

    background:#444;

    color:#bbb;

    cursor:not-allowed;

}